<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">

  <script src="https://unpkg.com/lightbox2@2.11.4/dist/js/lightbox-plus-jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/lightbox2@2.11.4/dist/css/lightbox.min.css" />

  <script src="https://unpkg.com/htmx.org@1.8.6" crossorigin="anonymous"></script>

  <link href="style.css" rel="stylesheet">
  <script src="script.js"></script>
</head>
<html>

<body class="p-2">
  <div class="fixed top-0 right-0" id="time" hx-get="/time" hx-trigger="every 1s" hx-target="#time" hx-swap="innerHTML">
  </div>
  <div class="fixed top-0 left-0">you cannot rush art | click on the colony to restart...</div>
  <div hx-trigger="every 1s" hx-get="/life" hx-target="#life" hx-swap="innerHTML"></div>
  <div class="grid h-screen place-items-center" id="life" hx-get="/life?restart=1" hx-target="#life"
    hx-swap="innerHTML">
  </div>
</body>

</html>